<h4>New book</h4>
<%= form_with model: @book, url:'/books', local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Title</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>
</div>